- page = StaticPage[:landing]
- title page.title if page.title.present?
- description page.meta_description
- keywords page.meta_keys.split(',')

= render 'slider'
= render 'about_company'
= render 'our_services'
= render 'why_choose'
= render 'latest_projects'
= render 'our_team'
= render 'latest_from_blog'
= render 'testimonials'
