<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home Construction - Responsive HTML Template</title>

<!--Bootstrap-->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!--Awesome Fonts Icons-->
<link rel="stylesheet" href="css/font-awesome.min.css">

<!-- Magnific-popup css -->
<link rel="stylesheet" href="css/magnific-popup.css">

<!-- Rev Slider css -->
<link rel="stylesheet" href="js/revolution-slider/css/settings.css">

<!-- Owl carousel css -->
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/owl.theme.css">

<!--Custom Style-->
<link rel="stylesheet" href="css/style.css">
</head>

<body>
<!--Header Start-->
<header>
  <div class="logowraper">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><a href="index.html" class="logo"><img src="images/logo-dark.png" alt="Construction" /></a></div>
        <div class="col-md-9">
          <div class="topLinks"> <a href="#" class="reg">Register <i class="fa fa-user" aria-hidden="true"></i></a> <a href="#">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a> </div>
          <div class="topcall"> <span>Mon-Fri 7-7, Sat 8-4 CST</span> <strong>770-123-4567</strong> </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Nav-->
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link dropdown-toggle" href="Index.html">Home</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="index.html">Home With Slider</a></li>
              <li><a class="dropdown-item" href="index-2.html">Home With Static Image</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
          <li class="nav-item "><a class="nav-link dropdown-toggle" href="#">Services</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="services-1.html">Services 1</a></li>
              <li><a class="dropdown-item" href="services-2.html">Services 2</a></li>
              <li><a class="dropdown-item" href="services-detail.html">Services Detail</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link dropdown-toggle" href="#">Projects</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="project-1.html">Project gallery 1</a></li>
              <li><a class="dropdown-item" href="project-2.html">Project gallery 2</a></li>
              <li><a class="dropdown-item" href="project-3.html">Project gallery 3</a></li>
              <li><a class="dropdown-item" href="project-detail.html">Project Detail</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link dropdown-toggle" href="#">Pages</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="faqs.html">FAQ's</a></li>
              <li><a class="dropdown-item" href="testimonials.html">Testimonials</a></li>
              <li><a class="dropdown-item" href="packages.html">Packages</a></li>
              <li><a class="dropdown-item" href="register.html">Register</a></li>
              <li><a class="dropdown-item" href="login.html">Login</a></li>
              <li><a class="dropdown-item" href="404.html">404 Error</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link dropdown-toggle" href="#">Blog</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="blog.html">Blog List</a></li>
              <li><a class="dropdown-item" href="blog-grid.html">Blog Grid</a></li>
              <li><a class="dropdown-item" href="blog-full-width.html">Blog Full Width</a></li>
              <li><a class="dropdown-item" href="blog-detail.html">Blog Detail</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
        </ul>
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
      </div>
    </nav>
  </div>
</header>
<!--Header End--> 

<!--Page Title Start-->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-heading">About Us</h1>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="breadCrumb"><a href="#.">Home</a> / <span>About Us</span></div>
      </div>
    </div>
  </div>
</div>
<section class="section aboutwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="abimage"> <img src="images/about-company.jpg" alt="Construction"> </div>
      </div>
      <div class="col-lg-7">
        <div class="titleTop">
          <div class="subtitle">Our Mission</div>
          <h3>Construction Company</h3>
          <div class="seprate"><img src="images/seprator.png"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula malesuada nisi eu rutrum. Maecenas purus diam, lobortis at velit eget, ultricies posuere augue. Nullam nec lectus a augue dictum euismod ut sed ex. Integer pretium arcu neque, vitae mollis massa consequat eu. In eget dolor luctus, varius dui fringilla, lobortis odio. Cras molestie nunc pretium, dictum lorem vel, vulputate mi. Etiam ac ligula bibendum, luctus diam sit amet, rutrum ipsum. <br>
          <br>
          Praesent tempus at neque non hendrerit. In euismod vestibulum sodales. Fusce feugiat dapibus facilisis. Sed interdum mauris sed vulputate fringilla. Sed purus dui, tempus tempor velit vel, feugiat eleifend nulla.</p>
        <ul class="circleList row">
          <li class="col-md-4 col-sm-4">
            <div class="cricle"><i class="fa fa-cogs" aria-hidden="true"></i></div>
            <div class="title">BUILDING</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
          </li>
          <li class="col-md-4 col-sm-4">
            <div class="cricle"><i class="fa fa-desktop" aria-hidden="true"></i></div>
            <div class="title">RENOVATION</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
          </li>
          <li class="col-md-4 col-sm-4">
            <div class="cricle"><i class="fa fa-tags" aria-hidden="true"></i></div>
            <div class="title">INTERIOR</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="innercms">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id justo nulla. Sed ut sem elit. In eros enim, faucibus eu varius non, iaculis nec diam. Morbi arcu sem, vulputate vel mi et, semper egestas augue. Pellentesque molestie ornare fermentum. Praesent viverra odio a lectus finibus imperdiet. Pellentesque condimentum erat in ipsum hendrerit, non elementum nunc faucibus. Phasellus semper, lorem quis sollicitudin condimentum, mi nunc auctor nisi, molestie molestie mauris diam vel felis. Phasellus feugiat congue nunc auctor fringilla. Aliquam purus sem, eleifend non efficitur ac, venenatis non nisi. <br>
          <br>
          Sed sed fringilla elit. Aliquam ut pharetra metus. Praesent iaculis, quam et posuere auctor, mi arcu fermentum elit, in condimentum arcu mi vitae ligula. Morbi vitae est sit amet neque ultricies facilisis sed ac ligula. Nunc vel leo lacus. Nulla sit amet eros libero. Integer auctor diam ac eros sodales, non congue diam elementum. Curabitur accumsan, sapien sed pulvinar feugiat, tortor lectus mollis sem, vel posuere elit ligula vel nulla. Donec ac commodo arcu, vitae congue urna. Vestibulum fringilla ante quam, sit amet euismod quam dignissim at. Maecenas pellentesque ex vitae augue congue volutpat. Etiam ut pellentesque dolor, quis elementum felis. Integer accumsan nisl tortor, quis consectetur tellus ultricies et. Suspendisse aliquet, quam eu finibus tempor, nunc risus finibus risus, sed faucibus purus orci non metus. </p>
      </div>
      <div class="col-lg-5">
        <div class="abimage"> <img src="images/how-it-work.jpg" alt="How it works"> </div>
      </div>
    </div>
  </div>
</section>

<!--Footer-->
<div class="site-footer"> 
  <!-- Footer Top start -->
  <div class="footer-top-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-lwf">
            <h3 class="footer-logo"><img src="images/logo.png" alt="LawFirm"></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, massa ac ornare feugiat, nunc dui auctor ipsum, sed posuere eros sapien id quam. </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-lwf footer-menu">
            <h3 class="footer-lwf-title">Quick Links</h3>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About Company</a></li>
              <li><a href="services.html">Our Services</a></li>
              <li><a href="blog-list.html">Blog</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
              <li><a href="gallery.html">Gallery</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-lwf footer-menu">
            <h3 class="footer-lwf-title">Services</h3>
            <ul>
              <li><a href="#">Nascetur Ridiculus Mus</a></li>
              <li><a href="#">Curabitur Eu Tempor</a></li>
              <li><a href="#">Nullam Mollis Accumsan</a></li>
              <li><a href="#">Curabitur Bibendum</a></li>
              <li><a href="#">Metus Suscipit Efficitur</a></li>
              <li><a href="#">Proin Mattis Finibus</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-lwf footer-menu">
            <h3 class="footer-lwf-title">Get In Touch</h3>
            <ul class="footer-contact">
              <li><i class="fa fa-phone"></i> +1 1234 456789</li>
              <li><i class="fa fa-envelope"></i> info@companyname.com</li>
              <li><i class="fa fa-map-marker"></i> 795 South Park Avenue, Door 6 Wonderland, NY 94107, New York</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer top end --> 
  
  <!-- copyright start -->
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6">Copyright &copy; 2018 <span>Build Homes</span>. All Rights Reserved</div>
        <div class="col-md-6 text-right">Design &amp; Development By: <a href="http://sharjeelanjum.com/" target="_blank">Sharjeel Anjum</a></div>
      </div>
    </div>
  </div>
  <!-- copyright end --> 
</div>

<!--Jquery--> 
<script src="js/jquery-3.2.1.js"></script> 

<!--Popper--> 
<script src="js/popper.min.js"></script> 

<!--Bootstrap--> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/owl.carousel.js"></script> 

<!-- Popup --> 
<script src="js/jquery.magnific-popup.min.js"></script> 
<script src="js/magnific-popup-options.js"></script> 

<!-- Revolution Slider --> 
<script type="text/javascript" src="js/revolution-slider/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script> 

<!-- Fancy Box --> 
<script src="js/jquery.fancybox.min.js"></script> 

<!--Custom JS--> 
<script src="js/custom.js"></script>
</body>
</html>
