<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home Construction - Responsive HTML Template</title>

<!--Bootstrap-->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!--Awesome Fonts Icons-->
<link rel="stylesheet" href="css/font-awesome.min.css">

<!-- Magnific-popup css -->
<link rel="stylesheet" href="css/magnific-popup.css">

<!-- Rev Slider css -->
<link rel="stylesheet" href="js/revolution-slider/css/settings.css">

<!-- Owl carousel css -->
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/owl.theme.css">

<!--Custom Style-->
<link rel="stylesheet" href="css/style.css">
</head>

<body>
<!--Header Start-->
<header>
  <div class="logowraper">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><a href="index.html" class="logo"><img src="images/logo-dark.png" alt="Construction" /></a></div>
        <div class="col-md-9">
          <div class="topLinks"> <a href="#" class="reg">Register <i class="fa fa-user" aria-hidden="true"></i></a> <a href="#">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a> </div>
          <div class="topcall"> <span>Mon-Fri 7-7, Sat 8-4 CST</span> <strong>770-123-4567</strong> </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Nav-->
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link dropdown-toggle" href="Index.html">Home</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="index.html">Home With Slider</a></li>
              <li><a class="dropdown-item" href="index-2.html">Home With Static Image</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
          <li class="nav-item "><a class="nav-link dropdown-toggle" href="#">Services</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="services-1.html">Services 1</a></li>
              <li><a class="dropdown-item" href="services-2.html">Services 2</a></li>
              <li><a class="dropdown-item" href="services-detail.html">Services Detail</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link dropdown-toggle" href="#">Projects</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="project-1.html">Project gallery 1</a></li>
              <li><a class="dropdown-item" href="project-2.html">Project gallery 2</a></li>
              <li><a class="dropdown-item" href="project-3.html">Project gallery 3</a></li>
              <li><a class="dropdown-item" href="project-detail.html">Project Detail</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link dropdown-toggle" href="#">Pages</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="faqs.html">FAQ's</a></li>
              <li><a class="dropdown-item" href="testimonials.html">Testimonials</a></li>
              <li><a class="dropdown-item" href="packages.html">Packages</a></li>
              <li><a class="dropdown-item" href="register.html">Register</a></li>
              <li><a class="dropdown-item" href="login.html">Login</a></li>
              <li><a class="dropdown-item" href="404.html">404 Error</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link dropdown-toggle" href="#">Blog</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="blog.html">Blog List</a></li>
              <li><a class="dropdown-item" href="blog-grid.html">Blog Grid</a></li>
              <li><a class="dropdown-item" href="blog-full-width.html">Blog Full Width</a></li>
              <li><a class="dropdown-item" href="blog-detail.html">Blog Detail</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
        </ul>
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
      </div>
    </nav>
  </div>
</header>
<!--Header End--> 

<!-- Page Title start -->
<div class="pageTitle">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="page-heading">FAQs</h1>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="breadCrumb"><a href="#.">Home</a> / <span>Faqs</span></div>
      </div>
    </div>
  </div>
</div>
<!-- Page Title End -->

<div class="innercms">
  <div class="container"> 
    
    <!--Question-->
    <div class="faqs">
      <div class="panel-group" id="accordion">
        <h3>Work Process</h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse1">Nunc ut erat at massa elementum tempus.?</a> </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
              <br>
              Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse2"> Donec lacus sem, pretium a eros ut?</a> </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
              <br>
              Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse3"> Donec lacus sem, pretium a eros ut?</a> </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
              <br>
              Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.</div>
          </div>
        </div>
        <h3>How we work</h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse4">Nunc ut erat at massa elementum tempus.?</a> </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
              <br>
              Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse5"> Donec lacus sem, pretium a eros ut?</a> </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
              <br>
              Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse6"> Donec lacus sem, pretium a eros ut?</a> </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">Integer aliquam sed ante non volutpat. Aenean vitae nulla varius, dictum nisi non, rhoncus sem. Vivamus vel velit semper, sagittis ante vel, tempor augue. Proin quis justo auctor, auctor risus vitae, tempor enim. Aliquam erat volutpat. Phasellus facilisis aliquam eleifend. Donec eget nisl elementum, luctus velit ut, viverra tellus. <br>
              <br>
              Aenean id aliquam velit, eget consequat neque. Suspendisse potenti. Praesent id cursus odio, eget aliquet lectus. Pellentesque id commodo diam. Aliquam in urna tincidunt, ullamcorper sapien at, imperdiet ex. Mauris laoreet pellentesque mi quis ornare. Donec non pulvinar nulla. Aenean suscipit tellus ut ex luctus, eu rhoncus nisi viverra. Curabitur sit amet erat nulla.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Footer-->
<div class="site-footer"> 
  <!-- Footer Top start -->
  <div class="footer-top-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-lwf">
            <h3 class="footer-logo"><img src="images/logo.png" alt="LawFirm"></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, massa ac ornare feugiat, nunc dui auctor ipsum, sed posuere eros sapien id quam. </p>
            <div class="socialLinks"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a> </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-lwf footer-menu">
            <h3 class="footer-lwf-title">Quick Links</h3>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about-us.html">About Company</a></li>
              <li><a href="services-1.html">Our Services</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
              <li><a href="project-1.html">Gallery</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-lwf footer-menu">
            <h3 class="footer-lwf-title">Services</h3>
            <ul>
              <li><a href="#">Nascetur Ridiculus Mus</a></li>
              <li><a href="#">Curabitur Eu Tempor</a></li>
              <li><a href="#">Nullam Mollis Accumsan</a></li>
              <li><a href="#">Curabitur Bibendum</a></li>
              <li><a href="#">Metus Suscipit Efficitur</a></li>
              <li><a href="#">Proin Mattis Finibus</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-lwf footer-menu">
            <h3 class="footer-lwf-title">Get In Touch</h3>
            <ul class="footer-contact">
              <li><i class="fa fa-phone"></i> +1 1234 456789</li>
              <li><i class="fa fa-envelope"></i> info@companyname.com</li>
              <li><i class="fa fa-map-marker"></i> 795 South Park Avenue, Door 6 Wonderland, NY 94107, New York</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer top end --> 
  
  <!-- copyright start -->
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6">Copyright &copy; 2018 <span>Build Homes</span>. All Rights Reserved</div>
        <div class="col-md-6 text-right">Design &amp; Development By: <a href="http://sharjeelanjum.com/" target="_blank">Sharjeel Anjum</a></div>
      </div>
    </div>
  </div>
  <!-- copyright end --> 
</div>

<!--Jquery--> 
<script src="js/jquery-3.2.1.js"></script> 

<!--Popper--> 
<script src="js/popper.min.js"></script> 

<!--Bootstrap--> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/owl.carousel.js"></script> 

<!-- Popup --> 
<script src="js/jquery.magnific-popup.min.js"></script> 
<script src="js/magnific-popup-options.js"></script> 

<!-- Revolution Slider --> 
<script type="text/javascript" src="js/revolution-slider/js/jquery.themepunch.tools.min.js"></script> 
<script type="text/javascript" src="js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script> 

<!-- Fancy Box --> 
<script src="js/jquery.fancybox.min.js"></script> 

<!--Custom JS--> 
<script src="js/custom.js"></script>
</body>
</html>
