/*
  *= require './theme/vendors.css'
  *= require './theme/app.css'
  *= require './theme/core/menu/menu-types/horizontal-menu.css'
  *= require './theme/core/colors/palette-gradient.css'
  *= require './theme/fonts/simple-line-icons/style.css'
  *= require './theme/pages/timeline.css'
  *= require animate
  *= require font-awesome
  *= require bootstrap-colorpicker
*/


.color_preview {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid black;
}