/*
 *= require './theme/bootstrap.min.css'
 *= require font-awesome
 *= require './theme/magnific-popup.css'
 *= require './theme/owl.carousel.css'
 *= require './theme/owl.theme.css'
 *= require './theme/style.css'
 *= require './theme/revolution-slider/settings.css'
 *= require './theme/fonts/flag-icon-css/css/flag-icon'
 *= require_self
*/

.flag-min-width {
  min-width: 5.2rem;
}

.flag-label {
  margin-left: 5px;
  color: #fff;
}
